nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top.shadow
  .container
    a.navbar-brand(href='../')
      img(src='../assets/main/logo.png', height='40', alt='Priv.Cloud')
    button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarNavDropdown', aria-controls='navbarNavDropdown', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        // Status
        li.nav-item
          a.nav-link(href='https://status.privcloud.ml/', target='_blank') Status
        // About
        li.nav-item
          a.nav-link(href='../about') About
        //- // Policies
        //- li.nav-item.dropdown
        //-   a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false') Policies
        //-   ul.dropdown-menu.dropdown-menu-dark.bg-dark.shadow(aria-labelledby='navbarDropdownMenuLink')
        //-     li
        //-       a.dropdown-item(href='../privacy') Privacy
        //-     li
        //-       a.dropdown-item(href='../tos') Terms of Service
        //-     li
        //-       a.dropdown-item(href='../legal') Legal Notice
