doctype html
head

  // Meta tags
  block meta
    - metaTitle = 'PrivCloud'
    - metaDesc = 'Protecting your information and anonymity against global surveillance.'
    - ogMetaTitle = 'PrivCloud'
    - ogMetaDesc = 'Protecting your information and anonymity against global surveillance.'
    - twitterMetaTitle = 'PrivCloud'
    - twitterMetaDesc = 'Protecting your information and anonymity against global surveillance.'
    include meta.pug

  // Scripts and styles
  block scripts
    // Ackee analytic script
    //- script(async src="https://stats.privcloud.ml/tracker.js" data-ackee-server="https://stats.privcloud.ml" data-ackee-domain-id="f2c2ab00-3d28-4fd9-8ebd-5df99938576e")

    // Bootstrap core CSS
    link(href='../css/bootstrap.css', rel='stylesheet')
    // Custom styles for this template
    link(href='../css/styles.css', rel='stylesheet')
    // Bootstrap core JavaScript
    script(src='../js/bootstrap.bundle.min.js')

body

  // Navigation
  include nav.pug

  // Page Content
  .container.mt-5
    block contents

  // Footer
  block footer
    .py-5
      footer.py-1.bg-dark.text-center.fixed-bottom
        p.m-0.text-white
          a.btn.btn-sm.text-white(href='https://github.com/shivambehal/3384_Capstone_Project', target='_blank')
            b Copyleft Priv.Cloud
